.team-name {
    color: red;
    background-color: lightgray;
}

.player-name {
    color: cornflowerblue;
    background-color: white;
}

.add-fav {
    color: cornflowerblue;
    background-color: whitesmoke;
}